@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  
}*/

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    overflow: hidden;
    padding: 20px;
    margin: 0;
    background-color: #1e1f23;
    color: #111214;
}

    body.border {
        padding: 20px;
        margin: 0;
        background-color: #1e1f23;
        color: #111214;
        border: 1px solid #000000;
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }

    body.border-light {
        border-color: #53565f;
    }

    body.small {
        padding: 15px;
    }

h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
}

    h1.tag {
        font-size: 12px;
        font-weight: normal;
        margin-top: 5px;
        color: #53565f;
    }

h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    margin-block-start: 0;
    margin-block-end: 0;
}

h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
}

h5 {
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    color: #53565f;
    font-size: 12px;
    margin-block-start: 0;
    margin-block-end: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #383a40;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #53565f;
    border-radius: 5px;
    border: 1px solid #53565f;
}

    ::-webkit-scrollbar-thumb:hover {
        border: 1px solid #53565f;
    }

main {
    min-height: 100px;
}

a {
    color:  #0a76d3;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    text-decoration: none;
}

    a:hover,
    a:focus {
        text-decoration: underline;
    }

    button,
    input[type='button'],
    ::-webkit-file-upload-button,
    a.button,
    footer a {
        background-color:  #0a76d3;
        border: 2px solid  #0a76d3;
        color: #111214;
        border-radius: 5px;
        padding: 8px 20px;
        text-align: left;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        outline: 0;
        white-space: nowrap;
        transition-property: background-color, color, opacity;
        transition-duration: 200ms;
        transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    }

        a.button:hover,
        footer a:hover {
            text-decoration: none;
        }

        a.button:focus,
        a.button:hover,
        input[type='button']:focus,
        input[type='button']:hover,
        input[type='file']:focus::-webkit-file-upload-button,
        input[type='file']:hover::-webkit-file-upload-button,
        ::-webkit-file-upload-button:hover,
        footer a:focus,
        footer a:not(:disabled):hover,
        button:not(:disabled):focus,
        button:not(:disabled):hover {
            background-image: linear-gradient(rgba(255, 255, 255, 0.1) 0 0);
        }

        button.image {
            width: 40px;
            height: 40px;
            padding: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            button.image > img {
                width: 32px;
                height: 32px;
            }

        button.secondary {
            background-color: #383a40;
            color: #111214;
            border-color: #53565f;
        }

            button.secondary:not(:disabled):hover {
                background-color: #383a40;
            }

        button.plain {
            border-color: transparent;
            background-color: transparent;
            color:  #0a76d3;
        }

            button.plain:not(:disabled):not(:read-only):hover {
                border-color: transparent;
                background-color: transparent;
            }

        button.small,
        ::-webkit-file-upload-button,
        td button {
            padding: 5px 10px;
            font-size: 10px;
        }

            td button.plain {
                width: auto;
                height: auto;
            }

        button.center {
            text-align: center;
        }

::-webkit-file-upload-button {
    margin-right: 10px;
}

pre {
    margin: 0;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    border: 1px solid #53565f;
    background-color: #383a40;
    width: 100%;
    min-height: 20px;
}

header {
    padding-bottom: 10px;
    border-bottom: 2px solid #53565f;
}

footer {
    padding-top: 10px;
    border-top: 1px solid #53565f;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 0;
    padding: 0;
    font-size: 12px;
    gap: 5px;
}

    fieldset.row {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

label {
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.card {
    background-color: #383a40;
}

.card-title {
    color: white;
}

option {
    color: white;
}

select,
input[type='text'],
input[type='url'],
input[type='email'],
input[type='password'],
input[type='file'],
input[type='number'],
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='color'],
textarea {
    border-radius: 5px;
    border: 1px solid #53565f;
    background-color: #383a40;
    font-size: 12px;
    outline: 0;
    color: white;
    width: 50%;
    min-width: 200px;
    padding: 8px 12px;
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
    transition-property: background-color, color, opacity;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

textarea {
    min-height: 64px;
    resize: none;
}

    textarea.resizable {
        resize: both;
    }

    select.full,
    input[type='text'].full,
    input[type='email'].full,
    input[type='url'].full,
    input[type='password'].full,
    input[type='file'].full,
    input[type='number'].full,
    input[type='date'].full,
    input[type='time'].full,
    input[type='datetime-local'].full,
    input[type='month'].full,
    input[type='week'].full,
    input[type='range'].full,
    textarea.full {
        width: 95%;
    }

    select:focus,
    select:not(:disabled):hover,
    input[type='text']:not(:read-only):focus,
    input[type='text']:not(:disabled):not(:read-only):hover,
    input[type='email']:not(:read-only):focus,
    input[type='email']:not(:disabled):not(:read-only):hover,
    input[type='url']:not(:read-only):focus,
    input[type='url']:not(:disabled):not(:read-only):hover,
    input[type='password']:not(:read-only):focus,
    input[type='password']:not(:disabled):not(:read-only):hover,
    input[type='file']:not(:read-only):focus,
    input[type='file']:not(:disabled):not(:read-only):hover,
    input[type='number']:not(:read-only):focus,
    input[type='number']:not(:disabled):not(:read-only):hover,
    input[type='date']:not(:read-only):focus,
    input[type='date']:not(:disabled):not(:read-only):hover,
    input[type='time']:not(:read-only):focus,
    input[type='time']:not(:disabled):not(:read-only):hover,
    input[type='datetime-local']:not(:read-only):focus,
    input[type='datetime-local']:not(:disabled):not(:read-only):hover,
    input[type='month']:not(:read-only):focus,
    input[type='month']:not(:disabled):not(:read-only):hover,
    input[type='week']:not(:read-only):focus,
    input[type='week']:not(:disabled):not(:read-only):hover,
    textarea:not(:read-only):focus,
    textarea:not(:disabled):not(:read-only):hover,
    input[type='checkbox']:focus,
    input[type='checkbox']:not(:disabled):hover,
    input[type='radio']:focus,
    input[type='radio']:not(:disabled):hover,
    input[type='color']:focus,
    input[type='color']:not(:disabled):hover {
        border-color: #53565f;
    }

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'],
input[type='week'] {
    width: 200px;
    min-width: auto;
}

.theme-dark ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

::-webkit-datetime-edit-day-field:focus,
::-webkit-datetime-edit-month-field:focus,
::-webkit-datetime-edit-year-field:focus,
::-webkit-datetime-edit-hour-field:focus,
::-webkit-datetime-edit-minute-field:focus,
::-webkit-datetime-edit-week-field:focus {
    background-color:  #0a76d3;
    color: #111214;
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='file'] {
    padding: 4px 12px;
}

select {
    appearance: none;
}

    select:not([multiple]):not(:disabled) {
        appearance: none;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='WindowText'><polygon points='0,0 100,0 50,50'/></svg>");
        background-repeat: no-repeat;
        background-size: 12px;
        background-position: calc(100% - 12px) 12px;
        background-color: #383a40;
    }

.theme-dark select:not([multiple]):not(:disabled) {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23ffffff'><polygon points='0,0 100,0 50,50'/></svg>");
}

option {
    color: #111214;
    padding: 6px;
    margin-bottom: 1px;
}

    option:hover {
        background: #53565f linear-gradient(0deg, #53565f 0%, #53565f 100%);
        border-radius: 5px;
    }

    option:checked {
        background:  #0a76d3 linear-gradient(0deg,  #0a76d3 0%,  #0a76d3 100%);
        color: #111214;
        border-radius: 5px;
    }

input[type='range'] {
    -webkit-appearance: none;
    height: 20px;
    width: 200px;
    background: transparent;
    outline: none;
}

    input[type='range']::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        height: 10px;
        border: 1px solid #53565f;
        background-color: #383a40;
        border-radius: 5px;
        box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
        transition-property: background-color, color, opacity;
        transition-duration: 200ms;
        transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    }

    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        border-radius: 5px;
        margin-top: -6px;
        border: 1px solid #53565f;
        background: #383a40;
        cursor: pointer;
        box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
        transition-property: background-color, color, opacity;
        transition-duration: 200ms;
        transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    }

    input[type='range']:hover::-webkit-slider-runnable-track,
    input[type='range']:focus::-webkit-slider-runnable-track,
    input[type='range']:hover::-webkit-slider-thumb,
    input[type='range']:focus::-webkit-slider-thumb {
        border-color: #53565f;
    }

button:disabled,
select:disabled,
input:disabled,
textarea:disabled,
footer a:disabled,
a[disabled] {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
    resize: none;
}

select:invalid,
input:invalid,
textarea:invalid {
    border-color: #be1d1f;
}

fieldset > span {
    margin-left: 10px;
    width: 50px;
}

input[type='text'].large,
input[type='password'].large,
input[type='file'].large,
input[type='email'].large,
input[type='url'].large,
input[type='date'].large,
input[type='time'].large {
    font-size: 20px;
    padding: 20px 10px;
}

input[type='text'].center,
input[type='password'].center,
input[type='email'].center,
input[type='url'].center {
    text-align: center;
}

input[type='checkbox'],
input[type='radio'] {
    appearance: none;
    border: 1px solid #53565f;
    background-color: #383a40;
    color: var(--brand-input-text);
    outline: 0;
    width: 20px;
    height: 20px;
    margin: 2px;
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
    transition-property: background-color, color, opacity;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

input[type='radio'] {
    border-radius: 50%;
}

    input[type='checkbox']::before,
    input[type='radio']::before {
        content: '';
        display: none;
        width: 16px;
        height: 16px;
        margin: 1px;
        background-color: #111214;
        opacity: 0.8;
    }

input[type='checkbox']:checked::before {
    display: inline-block;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type='radio']:checked::before {
    display: inline-block;
    clip-path: circle(35% at 52% 50%);
}

input[type='checkbox'] + label,
input[type='radio'] + label {
    white-space: nowrap;
}

input[type='color'] {
    width: 100px;
    min-width: auto;
    padding: 5px;
}

    input[type='color']::-webkit-color-swatch-wrapper {
        padding: 0;
        background: transparent;
    }

    input[type='color']::-webkit-color-swatch {
        border-radius: 5px;
        border: none;
    }

/* This disables the auto zoom on iDevices */
@supports (-webkit-touch-callout: none) {
    select,
    input[type='text'],
    input[type='url'],
    input[type='email'],
    input[type='password'],
    input[type='file'],
    input[type='number'],
    input[type='date'],
    input[type='time'],
    input[type='datetime-local'],
    input[type='month'],
    input[type='week'],
    input[type='color'],
    textarea {
        font-size: 16px;
    }
}

hr {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #53565f;
}

ul {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

li {
    font-size: 12px;
    position: relative;
    padding: 0 0 10px;
}

    li::before {
        content: ' ';
        display: inline-block;
        background-color:  #0a76d3;
        width: 8px;
        height: 8px;
        border-radius: 2px;
        position: absolute;
        left: -13px;
        top: 3px;
    }

em {
    font-size: 12px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.fill {
    flex: 1;
}

.fill_2 {
    flex: 2;
}

.scroll {
    overflow: auto;
}

.scroll-vertical {
    overflow-y: auto;
}

.scroll-horizontal {
    overflow-x: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.middle {
    align-items: center;
}

.bottom {
    align-items: flex-end;
}

.spread {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.left {
    display: flex;
    align-items: flex-start;
}

.center {
    display: flex;
    justify-content: center;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.wrap {
    flex-wrap: wrap;
}

.gap5 {
    gap: 5px;
}

.gap10 {
    gap: 10px;
}

.gap20 {
    gap: 20px;
}

.gap40 {
    gap: 40px;
}

.pad10 {
    padding: 10px;
}

.pad20 {
    padding: 20px;
}

.pad0 {
    padding: 0px;
}

.table {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 10px;
}

table {
    width: 100%;
    font-size: 10px;
    border: 0;
    border-collapse: collapse;
}

table,
.table {
    border: #53565f 1px solid;
}

.table-row {
    display: flex;
    flex: 1;
    flex-direction: row;
}

    table > tr:first-child,
    thead > tr,
    .table-row.header {
        background-color: #111214;
    }

table > tr:nth-child(even),
.table > div:nth-child(even),
tbody > tr:nth-child(odd) {
    background-color: #53565f;
}

table > tr:nth-child(odd),
.table > div:not(:first-child):nth-child(odd),
tbody > tr:nth-child(even) {
    background-color: #53565f;
}

th,
.table-row.header > div {
    color: #111214;
    font-weight: bold;
    padding: 10px 5px;
    text-align: left;
    word-break: break-word;
}

.table-row > div {
    flex: 1;
}

td,
.table-row:not(.header) > div {
    padding: 5px;
    word-break: break-word;
    color: #111214;
}

.table-row:not(.header) > div {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 736px) {
    .table-row {
        flex-direction: column;
    }

        .table-row.header {
            display: none;
        }

        .table-row:not(.header) > div {
            display: flex;
            align-items: center;
            flex: 1;
            gap: 10px;
        }

            .table-row:not(.header) > div:before {
                content: attr(data-name);
                font-weight: bold;
                white-space: nowrap;
                width: 20%;
            }

        .table-row > div.right {
            justify-content: flex-start;
        }

        .table-row > div.center {
            justify-content: flex-start;
        }
}

.border {
    border: 1px solid #53565f;
    border-radius: 5px;
}

.drag {
    user-select: none;
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: none;
}

.form {
    background-color: #111214;
    border: #53565f 1px solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #111214;
    border: #53565f 1px solid;
    border-radius: 5px;
    padding: 10px;
}

    .form-group.large {
        gap: 20px;
    }

.width-full {
    width: 100%;
}

.max-width-full {
    max-width: 100%;
}

.width-responsive {
    max-width: fit-content;
}

.hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
}
