<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
      <add key="workspaceAutoConnect" value="true" />
      <add key="workspaceManifestUrl" value="https://built-on-openfin.github.io/workspace-starter/main/customize-workspace/manifest.fin.json" />
      <add key="workspaceChannelId" value="workspace-connection" />
      <add key="uuid" value="openfin-dotnet4-winform-test-harness" />
      <add key="licenseKey" value="openfin-demo-license-key" />
      <add key="commandLineSnapshotArg" value="snapshot" />
    </appSettings>
</configuration>